@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Результат обчислень</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }

        .result-container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            width: 300px;
            text-align: center;
            margin-bottom: 20px;
        }

        .result-label {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .result-value {
            font-size: 36px;
        }
    </style>
</head>
<body>
    <div class="result-container">
        <h1 class="result-label">IP Блок 1</h1>
        <div class="result-value">
            @ViewBag.Ip
        </div>
    </div>

    <div class="result-container">
        <h1 class="result-label">User-Agent</h1>
        <div class="result-value">
            @ViewBag.UserAgent
        </div>
    </div>
</body>
</html>