
@* @model Task_5.Models.Item *@
@* У нашому випадку, @model вказує на тип даних, 
який ми очікуємо отримати на сторінці. Передаючи 
список List<Item> з контролера, але вказавши @model Task_5.Models.Item 
у перегляді, це схоже на те, ніби учень спочатку намагався вирішити 
завдання для числа "список". Але коли ми змінили @model на правильний 
тип даних @model List<Task_5.Models.Item>, це було схоже на те, що учень 
тепер правильно розуміє, що завдання стосується групи чисел і може вирішувати 
його правильно. *@


@model List<Task_5.Models.Item>

@{
    ViewData["Title"] = "Index2";
}


@foreach (var el in Model)
{
    <p>Id: @el.Id<br> Name: @el.Name <br> Price: @el.Price</p>
    <p>-----------------------</p>
}

