@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>ViewBag  <a href="/Products/Index/"> Просмотреть все товары колекции </a></p>
    <p>строго типізоване уявлення. <a href="/Products/Index2/"> Просмотреть все товары колекции  </a></p>
</div>
